<div class="profile-container">
    <div class="header">
        <h3>My profile</h3>
    </div>
    <div class="line"></div>

    <div class="content">

    </div>

    <div class="footer">
        
        <div class="line"></div>
        <div class="buttons">
            <div class="logout-btn" (click)="logout()">
                <img src="assets/images/logout-icon.png" alt="logout">           
            </div>
            <div class="back-btn" (click)="backToStartPage()">
                <img src="assets/images/back-icon.png" alt="back">
        </div>     
    </div>
</div>
</div>
