<div class="header-container">

  <div class="info">
    <div class="difficulty">Difficulty: {{ difficulty }}</div>
    <div class="level">Level: {{ currentLevel }}</div>
  </div>
  
    <button class="ms-auto long-press-button"
            (mousedown)="startPress()"
            (mouseup)="endPress()"
            (mouseleave)="endPress()"
            (touchstart)="startPress()"
            (touchend)="endPress()"
            (touchcancel)="endPress()">
      X
    </button>
    <!-- A progress bar itt a header-container alján jelenik meg -->
    <div class="progress-bar" [style.width.%]="progress"></div>
  </div>
  
  