
<div class="profile-container">
    <div class="header">
        <h3>Settings</h3>
    </div>
    <div class="line"></div>

    <div class="content">

        <div class="on-off" (click)="toggleSound()">
            <img [src]="isSoundOn ? 'assets/images/speaker-on-icon.png' : 'assets/images/speaker-off-icon.png'" alt="sound">
            <div class="text">{{ isSoundOn ? 'Sound on' : 'Sound off' }}</div>
        </div>
        
        <div class="on-off" (click)="toggleColors()">
            <img [src]="isColorsOn ? 'assets/images/color-scheme-icon.png' : 'assets/images/shapes-icon.png'" alt="colors">
            <div class="text">{{ isColorsOn ? 'Colors' : 'Shapes' }}</div>
        </div>

    </div>

    <div class="footer">
        
        <div class="line"></div>
        <div class="buttons">
            <div class="logout-btn">
                           
            </div>
            <div class="back-btn" (click)="backToStartPage()">
                <img src="assets/images/back-icon.png" alt="back">
        </div>     
    </div>
</div>
</div>
