.login-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Távolság a gombok között */
    align-items: center; /* Középre igazítás vízszintesen */
  }
  
  .login-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Árnyék */
    gap: 10px; /* Távolság ikon és szöveg között */
    width: 80%; /* Fix szélesség a gomboknak */
    justify-content: center; /* Tartalom középre vízszintesen */
  
    img {
      height: 20px; /* Ikon mérete */
    }
  
    &:focus { /* Fókusz stílus */
      outline: 2px solid blue;
    }
  }
  
  .google-login {
    background-color: #4285F4; /* Google kék */
    &:hover {
      background-color: #2962CC; /* Sötétebb Google kék hover-re */
    }
  }
  
  .facebook-login {
    background-color: #1877F2; /* Facebook kék */
    &:hover {
      background-color: #105CB3; /* Sötétebb Facebook kék hover-re */
    }
  }
  
  .guest-login {
    background-color: #6c757d; /* Szürke vendég gombhoz */
    &:hover {
      background-color: #545b62; /* Sötétebb szürke hover-re */
    }
  }
  
  
  .login-error {
    color: red;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    margin-top: 6vh;
    padding: 5px 10px;
    text-align: center;
    display: block; /* Hozzáadva */
    box-sizing: border-box; /* Hozzáadva */
  }