<div class="scene-container">
    <div *ngIf="isCountingDown" class="countdown-overlay">
        <div class="countdown-number">{{ countdown }}</div>
    </div>

    <div class="square-container">
        <div class="square red-idle"></div>
        <div class="square green-idle"></div>
        <div class="square blue-idle"></div>
        <div class="square yellow-idle"></div>
        <div class="square darkgrey not-used"></div>
        <div class="square magenta-idle"></div>
        <div class="square purple-idle"></div>
        <div class="square cyan-idle"></div>
        <div class="square orange-idle"></div>
    </div>
</div>
